<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<title>Troll Market</title>
<meta content="Admin Dashboard" name="description" />
<meta content="Mannatthemes" name="author" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="~/assets/images/logo.jpg">
<link href="~/assets/plugins/morris/morris.css" rel="stylesheet">
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="~/assets/css/icons.css" rel="stylesheet" type="text/css">
<link href="~/assets/css/style.css" rel="stylesheet" type="text/css">
<link href="~/assets/css/style2.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="~/assets/plugins/animate/animate.css" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>




