<!DOCTYPE html>
<html lang="en">

<head>
    <partial name="Auth/_HeaderAuth" />
</head>

<body>

  <main>
        @RenderBody()
  </main><!-- End #main -->

    <partial name="Auth/_FootAuth" />


</body>

</html>